// @node-language php
-
  function copyValue($value) {
      if (is_array($value)) {
          return array_map('copyValue', $value);
      }
      if (is_object($value)) {
          return clone $value;
      }
      return $value;
  }
